@{
    ViewBag.Title = "Esqueceu da confirmação de senha";
}

<style>
    body {
        color: white;
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        font-weight: bold;
    }

    a {
        color: white;
    }

        a:hover {
            font-weight: bold;
            color: springgreen;
        }

    .navbar a {
        color: white;
    }

    img {
        max-width: 300px;
    }

    *, *::before, *::after {
        box-sizing: content-box;
    }
</style>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Verifique seu email para redefinir a senha.
    </p>
</div>

