<link href="~/Content/form/form.css" rel="stylesheet" />
<style>
    .form {
        color: azure;
        background-color: #4a8df7;
        padding: 40px;
        max-width: 800px;
        margin: 8px auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    }
</style>
<div class="align-content-center form">
    <label>Não fique triste, tente novamente!</label>
</div>
<div class="form">
    <div class="row">
        <div class="row col-md-12">
            <img class="rounded mx-auto d-block img-thumbnail" src="https://img.freepik.com/free-photo/angry-expression_102671-103.jpg?size=626&ext=jpg" alt="Alternate Text" />
        </div>
    </div>
</div>