<link href="~/Content/form/form.css" rel="stylesheet" />
<link href="~/Content/css/winner.css" rel="stylesheet" />
<div class="align-content-center form">
    <label>Parabéns, você é o mais novo cliente Caminha Bank!</label>
</div>
<div class="form">
    <div class="row">
        <div class="row col-md-12">

            <img class="rounded mx-auto d-block img-thumbnail" src="https://cdn.pixabay.com/photo/2015/01/08/18/24/children-593313_960_720.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>