@{
    ViewBag.Title = "Home";
}
<link href="~/Content/home.css" rel="stylesheet" />
<div class="text-center form" style="padding: 100px; border">
    @*<img class="rounded img-fluid" src="https://www.fly4free.com/wp-content/uploads/2018/07/Cards-.png" />*@
</div>