@{
    ViewBag.Title = "Home";
}
<link href="~/Content/home.css" rel="stylesheet" />
<div class="row body">
    <img class="rounded mx-auto d-block" src="https://www.quicksilvertranslate.com/wp-content/uploads/website-tips.png" />
</div>